
:root {
    color: #000;
    --SandPiperBlue: #abc8e6;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.spsNavBar {
    background-color: var(--SandPiperBlue);
    padding-left: 1em;
    padding-right: 1em;
}

.footerList {
    list-style: none;
}

.sbsFooter {
    background-color: #f8f9fa;
    border-radius: 10px;
}

.sbsTopPadding {
    padding-top: 1em;
}

.sbsBottomPadding {
    padding-bottom: 1em;
}

.sbsMargin {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/*@media (max-width: 768px) {
    .orderFirst {
        order: 1;
    }

    .orderSecond {
        order: 2;
    }

    .orderThird {
        order: 3;
        margin-top: 1.5em;
    }
}

@media (max-width: 576px) {
    .orderFirst {
        order: 1;
        padding-left: 75px;
    }

    .orderSecond {
        order: 2;
        padding-left: 75px;
    }

    .orderThird {
        order: 3;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}*/

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
